@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.clock-day:before {
  content: var(--timer-day);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}
body {  
  align-items: center;
  justify-content: center;
}
.clock-container {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 30px 20px;
}

.segment {
  height: 347.5px;
  width: 347.5px;
}


.time-container {
  display: flex;
}

.clock-col {
  color: aliceblue;
}

.clock-timer-days {
  font-size: 2.8em;
  margin-bottom: 0px;
  text-align: center;
}

.clock-timer {
  font-size: 4em;
  margin-bottom: 0px;
  margin-right: 50px;
  text-align: center;
}

.clock-col.day {
  margin-top: 30px;
}

.clock-label {
  margin-bottom: 20px !important;
}

.ui.segment {
  border-radius: 2em;
}